body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

p {
    color:black;
}

p.dramatitle {
    position:relative;
    top: 0px;
    text-align:center;
    color:#00ff00;
    text-transform: capitalize;
    font-size: 3em;
}

div.poster {
    float:left;
    position:relative;
    top: 10px;
    left: 20px;
    max-width:40%;
    height: 200px;
}

div.showdrama{
    width:80%;
    height:100%;
    margin:auto;
}

div.dramainfo{
    float:left;
    position: relative;
    left: 50px;
    top: 10px;
    width: 50%;
    height: 200px;
}

div.dramasynopsis{
    float:left;
    position: relative;
    left: 20px;
    top: 20px;
    width: 97%;
    height: 100%;
    padding:0px 50px;
}

div.dramacast{
    float:left;
    position: relative;
    left: 20px;
    top: 30px;
    width: 97%;
    height: 100%;
    padding:0px 50px;
}

p.title{
    float:left;
    position:relative;
    left:20px;
    top:20px;
    width:97%;
    height:100%;
    font-size:1.8em;
    border-bottom: solid #E1A60A 1.5px;
    line-height: 1.5em;
}

p.user_email{
	color: #6E6A6B;
	font-weight:bold;
	padding:0px 30px;
}

p.user_comment{
	padding: 0px 50px;
}

div.numberofcomments{
    float:left;
    position: relative;
    left: 20px;
    top: 20px;
    width: 95%;
    margin:auto;
}

div.comments{
    float:left;
    position: relative;
    left: 20px;
    top: 20px;
    width: 97%;
    height: 100%;
}

div.postcomment{
    float:left;
    position: relative;
    left: 20px;
    top: 0px;
    width: 97%;
    height: 100%;
}

.textarea_comment{
    float:left;
    width: 99%;
    height: 200px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    resize: none;

}

.post_button{
    display:block;
    float:left;
    position:relative;
    left:2px;
    top:10px;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; 
}

.post_button :hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}

    
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
