div.mainpage{
    width:80%;
    height:100%;
    margin: 0px auto 0px auto;
}

div.toptable{
    width:100%;
    float:left;
    position:relative;
    top:15px;
    left:10px;
}
table.topten {
    float:left;
    width: 33%;
    border-spacing: 1px 0px;
    margin: 5px 2px;
}
table.random {
    float:left;
    position:relative;
    width: 100%;
    border-spacing: 1px 0px;
    margin: auto;
}

th {
    height: 50px;
    background:#f4f9fe;
    border: none;
    text-align:center;
    font:bold 1.5em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-   serif;
    color:#66a3d3;
}
tr {
    border:none;
}
td {
    background:#AFDCEC;
    border: none;
    font: 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-   serif;
    color:#307D7E;
    padding:5px;
    padding-left:20px;
    text-transform:capitalize;
}

table.list td {
	height:40px;
}

p.main_title{
	float:left;
    position:relative;
    left:10px;
    top:20px;
    width:100%;
    height:100%;
    font-size:1.8em;
    color:#4E387E;
}

div.randomdrama{
    float:left;
    position:relative;
    top : 20px;
    left : 0px;
    width: 100%;
    height: 100%;
}

div.shortinfo {
	float:left;
    position:relative;
    left:10px;
    margin-bottom:60px;
    border-top:dotted 1px;
    width: 90%;
    height: 100%;
}

div.favorite_drama{
	float:left;
    position:relative;
    left:50px;
    top:10px;
}
